<div>
    <h2>Book Details</h2>
    <table *ngFor= 'let book of book' style="margin-left:20px">
      <tr>
        <td>ID:</td>
        <td>{{book.id}}</td>
      </tr>
      <tr>
        <td>Title:</td>
        <td>{{book.title}}</td>
      </tr>


      <tr>
        <td>Author:</td>
        <td>{{book.author}}</td>
      </tr>
      <tr>
        <td>ISBN:</td>
        <td>{{book.isbn}}</td>
      </tr>
      <tr>
        <td>PublicationDate:</td>
        <td>{{book.publicationDate}}</td>
      </tr>
      <tr>
        <td>Title:</td>
        <td>{{book.title}}</td>
      </tr>

      <tr>
        <td>Publisher:</td>
        <td>{{book.publisher}}</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>{{book.price}}</td>
      </tr>
      <tr>
        <td>Genre:</td>
        <td>{{book.genre}}</td>
      </tr>
       <tr>
        <td>Format:</td>
        <td>{{book.format}}</td>
      </tr>



    </table>
    <button (click)="goBack()">Back</button>
</div>
